.container h2 {
    margin-top: 4rem;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 2rem;
    box-shadow: 0 0 1.5px 0.5px var(--secondary_color);
    border-radius: var(--radius);
}

.card img {
    width: 100%;
    border-radius: var(--radius);
}

.card button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.3rem 1rem;
    border-radius: 8px 0 8px 0;
    text-align: right;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.card button span {
    color: var(--secondary_color);
}
.card button:hover {
    transform: scale(1.05);
}

/* Responsive */

@media screen and (max-width: 1080px) {
    .cardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .container h2 {
        font-size: 1.2rem;
        margin-top: 3rem;
    }

    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }

}