.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--dPadding);
    border-bottom: var(--border);
}
.leftContainer, .rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 120px;
    margin-left: 2.5rem;
}

.hamburger_menu {
    display: none;
}

.search input {
    padding: 0.5rem 3.5rem;
    outline: none;
    border: var(--border);
    border-radius: var(--radius);
    transform: translateX(200px);
}
.search input:focus {
    box-shadow: 0 0 5px var(--secondary_color);
}

.location {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 2.5rem;
}
.location img {
    margin-right: 0.5rem;
}
.location img:hover {
    animation: shake 1s forwards;
}
@keyframes shake {
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
}
.cart p {
    display: none;
}
.cartIcon {
    position: relative;
}
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -7px;
    left: -1px;
    padding: 0.5rem;
    background-color: var(--secondary_color);
    border-radius: 100%;
    font-size: 0.7rem;
    font-weight: 700;
}
.counter span {
    background-color: var(--secondary_color);
    border-radius: 100%;
    margin-top: 0.2rem;
}

.login button {
    padding: 0.5rem 1.5rem;
    margin-right: 2rem;
    border: none;
    border-radius: var(--radius);
    background-color: var(--secondary_color);
    font-weight: 700;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 1110px) {
    .search input {
        padding: 0.5rem 1.5rem;
        transform: none;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding: var(--mPadding);
    }

    .logo img {
        margin-left: 1rem;
    }

    .location p {
        display: none;
    }

    .login button {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .logo img {
        width: 100px;
        margin-left: 0;
    }
    
    /* Hamburger Menu */
    .hamburger_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 50;
    }
    .bar {
        width: 30px;
        height: 3px;
        background-color: var(--white_color);
        border-radius: 3px;
    }
    .bar:not(:last-child) {
        margin-bottom: 6px;
    }
    .bar.expanded.bar_one {
        transform: rotate(-135deg)
        translateY(-14px);
    }
    .bar.expanded.bar_two {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        transform: translateX(-10px);
        background-color: var(--black_color);
    }
    .bar.expanded.bar_three {
        transform: rotate(135deg)
        translateY(14px);
    }

    .leftContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-items: center;
        align-content: center;
        height: 100vh;
        padding: 2rem 1rem;
        position: absolute;
        top: 7.7rem;
        left: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 40;
    }
    .leftContainer.expanded {
        opacity: 1;
        visibility: visible;
        border: var(--border);
    }
    
    .search, .location,.cart ,.login button {
        width: 210px;
        margin-bottom: 3rem;
    }

    .location {
        margin-right: 0;
        align-items: center;
    }
    .location p {
        display: block;
    }

    .cart {
        justify-content: flex-start;
    }
    .cart p {
        display: inline-block;
        font-size: 0.9rem;
    }
    .cartIcon {
        margin-right: 2.1rem;
    }

    .login button {
        margin-right: 0;
    }

}