.container {
    padding: var(--dPadding);
    margin-top: 5rem;
}

.des {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rt {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2.5rem;
}

.logo {
    margin-left: 2rem;
}
.logo img {
    width: 200px;
    border-radius: var(--radius);
}

.rate {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rate img{
    width: 18px;
    margin-bottom: 0.25rem;
}
.rate span {
    margin-left: 0.3rem;
    opacity: 0.7;
}

.title p {
    opacity: 0.7;
}

.map img {
    width: 150px;
    border-radius: var(--radius);
}

.det {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}
.det div {
    text-align: center;
}
.det img {
    margin-bottom: 0.5rem;
}
.det div p {
    font-size: 1rem;
}
.det div p:last-child {
    font-weight: 700;
    margin-top: 0.3rem;
}

.commentsContainer, .commentContainer {
    border: 0.5px solid #303030;
    border-radius: var(--radius);
    margin-top: 3rem;
    padding: 2rem;
}

.commentContainer {
    margin-top: 1.5rem;
}

.commentTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.commentTitle p {
    opacity: 0.7;
}

/* Responsive */
@media screen and (max-width: 750px) {
    .container {
        padding: var(--mPadding);
    }

    .des {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .rt {
        width: 100%;
        border-bottom: 0.5px solid #303030;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        justify-content: space-between;
    }

    .title {
        justify-content: center;
        align-items: center;
    }

    .map {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .map img {
        width: 300px;
    }
}
@media screen and (max-width: 550px) {
    .det {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rDet {
        margin-bottom: 2rem;
    }
    .rDet img {
        margin-bottom: 0;
    }


    /*fontSizes*/
    .title h2 {
        font-size: 1.1rem;
    }
    .rate, .title p {
        font-size: 0.8rem;
    }

    .commentsContainer h2 {
        font-size: 1.2rem;
    }
    .commentTitle h3 {
        font-size: 1rem;
    }
    .commentTitle p, .comment p {
        font-size: 0.9rem;
    }
}