.container {
    display: flex;
    align-items: flex-start;
    padding: var(--dPadding);
    margin-top: 3rem;
}

/* Detailes of resturant */
.desR {
    border: 0.5px solid #303030;
    padding: 1rem;
    border-radius: var(--radius);
    margin-left: 3rem;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headResturant {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.titleResturant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headResturant img {
    width: 250px;
    border-radius: var(--radius);
    margin-bottom: 1rem;
}

.titleResturant h2 {
    font-size: 1.2rem
}

.rateResturant {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rateResturant img{
    width: 18px;
    margin-bottom: 0.25rem;
}
.rateResturant span {
    margin-left: 0.3rem;
    opacity: 0.7;
}

.informationResturant {
    width: 100%;
}
.informationResturant button {
    width: 100%;
    border: var(--border);
    border-radius: var(--radius);
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    font-weight: 700;
    color: var(--secondary_color);
}
.informationResturant button:hover {
    box-shadow: var(--shadow);
}

/* Categories of resturant */
.category {
    margin-top: 1rem;
    height: 300px;
    overflow-y: auto;
}
.category p {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid #303030;
}

/* Foods container */
.foodsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 0.5px solid #303030;
    border-radius: var(--radius);
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .desR {
        margin-left: 1rem;
    }

    .headResturant img {
        width: 200px;
    }

    .titleResturant h2 {
        font-size: 1rem;
    }

    .rateResturant {
        font-size: 0.7rem;
    }
    .rateResturant img {
        width: 18px;
    }
}
@media screen and (max-width: 900px) {
    .container {
        padding: var(--mPadding);
    }

    .foodsContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 720px) {
    .titleResturant h2 {
        font-size: 0.8rem;
        margin-left: 0.5rem;
    }

    .headResturant img {
        width: 140px;
    }

    .rateResturant img {
        width: 18px;
    }

    .informationResturant button {
        padding: 0.5rem 1rem;
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desR {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        margin-left: 0;
    }

    .headResturant img {
        width: 100%;
    }
    
    .headResturant h2 {
        font-size: 1rem;
    }

    .rateResturant {
        font-size: 0.8rem;
    }
    .rateResturant img {
        width: 18px;
    }

    .informationResturant button {
        font-size: 0.8rem;
    }

    .category {
        width: 280px;
        display: flex;
        align-items: center;
        overflow-y: none;
        overflow-x: auto;
        height: auto;
        padding-bottom: 0.5rem;
        text-align: center;
    }
    .category p {
        margin-left: 1rem;
        border: none;
    }

    .foodsContainer {
        grid-template-columns: repeat(1, 99vw);
        padding: 1rem 0;
        place-items: center;
    }
}