/* Root */
:root {
	--primary_color: #a478b8;
	--secondary_color: #d3b1c2;
	--primary_color: #F7E7FB;
	--white_color: #f7f7f7;
	--black_color: #353935;
	--border: 1px solid gray;
	--radius: 8px;
	--shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
	--dPadding: 0.5rem 3rem;
	--mPadding: 0.5rem 1.5rem;
	--transition: all .4s ease;
}

/* Font */
@font-face {
	font-family: 'Custom';
	font-weight: 400;
	font-style: normal;
	src: url("./assets/fonts/Shabnam.woff") format("woff");
}
  
@font-face {
	font-family: 'Custom';
	font-weight: 700;
	font-style: normal;
	src: url("./assets/fonts/Shabnam-Bold.woff") format("woff");
}

/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Custom';
  background-color: var(--black_color);
  color: var(--white_color);
  transition: var(--transition);
}
